PORT=8000
MONGO_DB_URI=mongodb+srv://rushankbansal_db_user:rushank123@rushank.vmkc7lr.mongodb.net/
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=youraccesstokensecret
ACCESS_TOKEN_EXPIREY=1d
REFRESH_TOKEN_SECRET=yourrefreshtokensecret
REFRESH_TOKEN_EXPIREY=10d
CLOUD_NAME='wfweqjvy'
API-KEY='538786174614945'
API-SECRET='_3H6I5P_szVq18oxVMTj9x8o9qg'