PORT=8000
MONGO_DB_URI=mongodb+srv://rushankbansal_db_user:rushank123@rushank.vmkc7lr.mongodb.net/
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=youraccesstokensecret
ACCESS_TOKEN_EXPIREY=1d
REFRESH_TOKEN_SECRET=yourrefreshtokensecret
REFRESH_TOKEN_EXPIREY=10d